# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Angular
node_modules/
dist/
.angular/
.vscode/

# Ignorar configurações sensíveis
backend/.env

# Ignorar dependências do Frontend (que criaremos amanhã)
frontend/node_modules/

# Ignorar executáveis do Go
backend/server

# Executáveis específicos dos serviços
faturamento
estoque
faturamento_service
estoque_service

# Logs e arquivos temporários
*.log
tmp/

# Executáveis gerados pelo Go (dentro de cmd/)
backend/cmd/estoque/estoque
backend/cmd/estoque/estoque.exe
backend/cmd/faturamento/faturamento
backend/cmd/faturamento/faturamento.exe

# Regra geral para qualquer executável
*.exe