# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env files (Segurança: não subir senhas)
.env
backend/.env

# Editor/IDE
.vscode/
.idea/

# Angular
node_modules/
dist/
.angular/
frontend/node_modules/

# --- REGRAS ESPECÍFICAS DO BACKEND ---

# Ignorar apenas os EXECUTÁVEIS gerados pelo Go
# (Isso permite que as pastas 'estoque' e 'faturamento' subam, mas os arquivos .exe fiquem de fora)
backend/cmd/estoque/estoque
backend/cmd/estoque/estoque.exe
backend/cmd/faturamento/faturamento
backend/cmd/faturamento/faturamento.exe
backend/server

# Logs e arquivos temporários
*.log
tmp/